spring:
  profiles:
    active: test
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console

eureka:
  client:
    enabled: false

kafka:
  bootstrap-servers: localhost:9092

logging:
  level:
    root: ERROR
    org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener: OFF
    com.edunexusgraphql: WARN

management:
  endpoints:
    web:
      exposure:
        include: health