spring:
  application:
    name: edu-nexus-graphql

  kafka:
    bootstrap-servers: kafka1:9092,kafka2:9093,kafka3:9094
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
      auto-offset-reset: earliest
      enable-auto-commit: false
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
    listener:
      ack-mode: manual_immediate

  graphql:
    path: /graphql
    graphiql:
      enabled: true
      path: /graphiql
    schema:
      inspection:
        enabled: true


eureka:
  client:
    service-url:
      defaultZone: http://edu-nexus-discovery:8000/eureka/
    registerWithEureka: true
    fetchRegistry: true

jwt:
  secret: ${JWT_SECRET:}

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: b3
      produce: b3_multi
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  endpoints:
    web:
      exposure:
        include:
          - info
          - health
          - loggers
          - mappings
          - metrics
          - prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
      service: graphql
      environment: dev
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
      sla:
        http.server.requests: 100ms, 500ms, 1s, 2s

logging:
  pattern:
    level: "%5p [%X{traceId:-},%X{spanId:-}]"

server:
  port: 8006

grpc:
  client:
    edu-nexus-playback-service:
      address: 'discovery:///edu-nexus-playback-service'
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext
    edu-nexus-payment-service:
      address: 'discovery:///edu-nexus-enrollment-service'
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext
    edu-nexus-enrollment-service:
      address: 'discovery:///edu-nexus-enrollment-service'
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext
